@model IEnumerable<EvidencePojistencu1.Models.InsuredPerson>


<div class="row gx-5 my-4">
    <h1>Pojistenci</h1>

    <p class="m-lg-2">
        <a asp-action="Create" class="btn btn-primary">Novy Pojistenec</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.InsuredPersonId">Edit</a> 
                    <a asp-action="Details" class="btn btn-primary"  asp-route-id="@item.InsuredPersonId">Details</a>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.InsuredPersonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
