@model IEnumerable<EvidencePojistencu1.Models.Insurance>

@{
    ViewData["Title"] = "Pojisteni";
}

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InsuranceType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PremiumAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InsuredPerson.Email)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsuranceType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PremiumAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsuredPerson.Email)
                    </td>

                    <td>
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.InsuranceId">Edit</a>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.InsuranceId">Details</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.InsuranceId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


